@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Shrikhand&display=swap');

div.WeatherAppContainer {
  max-width:500px;
  border: .5px solid;
  border-radius: 8px;
  background-color:rgba(255, 255, 255, 0.75);
  margin-top:5px;
  font-family:'Poppins', sans-serif;
}

div.AppWrapper{
  max-width:900px;
  margin:30px auto;
  padding:30px;
  border: 1px solid;
  border-radius: 8px;
}


.img{
  margin:0 auto;
}

.colorDial{
  margin:10px;
  margin-top:20px;
}

.cityButton{
  margin:10px;
  margin-top:20px;
  margin-bottom:0px;
}

