@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.city {
    font-size: 22pt;
    padding-top:10px;
    font-family:'Poppins', sans-serif;
    font-weight:400;
  }
  
.current-weather-descrip {
    font-size: 10pt;
  }
  
.current-weather-descrip::first-letter {
    text-transform: capitalize;
  }

